cached-property==1.5.2
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.3
expiringdict==1.2.1
gTTS==2.2.3
idna==3.3
loguru==0.6.0
mailru-im-bot==0.0.21
monotonic==1.6
peewee==3.15.0
python-baseconv==1.2.2
requests==2.26.0
six==1.16.0
urllib3==1.26.7
