aenum==3.1.15
apsw==3.45.3.0
cached-property==1.5.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.12
click==8.0.3
cryptography==42.0.5
defusedxml==0.7.1
expiringdict==1.2.1
gTTS==2.2.3
idna==3.7
jira==3.8.0
loguru==0.7.2
mailru-im-bot==0.0.21
monotonic==1.6
oauthlib==3.2.2
openapi-client @ git+https://git:nLALFsbFTb8z37xMzvMR@gitlab.corp.mail.ru/imqa/allureclient.git
packaging==24.0
peewee==3.17.3
pillow==10.3.0
pycparser==2.22
pydantic==1.10.15
PyJWT==2.8.0
python-baseconv==1.2.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.26.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
ruff==0.4.*
six==1.16.0
typing_extensions==4.11.0
urllib3==1.26.7
