Jinja2>=3.0.0
peewee>=3.0.0
pytest>=7.0.0,
PyYAML>=6.0
requests>=2.26.0
prometheus_client==0.22.0
click>=8.2.0
markdown-it-py>=3.0.0
mdurl>=0.1.0
pygments>=2.19.0
rich>=14.0.0
shellingham>=1.5.4
typer>=0.16.0
typing-extensions>=4.14.0