.venv
venv
.pytest_cache
.ruff_cache
__pycache__
.idea
reports
imcommonsupplyclient_main
imcommonsupplyclient
.vscode/settings.json
.im-swagger-spy-db.sqlite
.im-swagger-spy-db.sqlite-shm
.im-swagger-spy-db.sqlite-wal
**/.DS_Store
.vscode
*~
.*.swp
.*.swo
