aenum==3.1.15
allure-pytest==2.13.5
allure-python-commons==2.13.5
annotated-types==0.7.0
attrs==24.2.0
cached-property==1.5.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
expiringdict==1.2.2
gTTS==2.5.3
idna==3.7
iniconfig==2.0.0
loguru==0.7.2
monotonic==1.6
openapi-client @ git+https://git:nLALFsbFTb8z37xMzvMR@gitlab.corp.mail.ru/imqa/allureclient.git
orjson==3.10.7
packaging==24.1
peewee==3.17.6
pluggy==1.5.0
pydantic==1.10.17
pydantic_core==2.20.1
pytest==8.3.2
python-baseconv==1.2.2
python-dateutil==2.9.0.post0
pyvkteamsbot==2024.5.2
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.0.7
